# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large files
ERRORS.md
ERRORS_SOURCE_ONLY.md
